<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/sidebar") %>
<%- include("template/content-header") %>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>150</h3>

                <p>New Orders</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>44</h3>

                <p>User Registrations</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>65</h3>

                <p>Unique Visitors</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
              <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Visitantes por primera vez</h3>
                <div class="card-tools">
                  <!--<a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>-->
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Nombre y Apellido</th>
                    <th>Telefono</th>
                    <th>Sexo</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                    <% cont=1 %>
                  <% rows.forEach ((user) =>{ %>  
                  <tr>
                    
                    <td><%= cont %></td>
                    <td><%= user.miembro_nombres %> <%= user.user_miembro_apellidos %></td>
                    <td><%= user.miembro_telefono %></td>
                    <td><%= ((user.miembro_sexo==0)?'F':'M') %></td>
                    
                  </tr>
                  <% cont++ }) %>
                  
                  
                  
                  </tbody>
                </table>
              </div>
            </div>
           
          </section>

          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Seguimiento</h3>
                <div class="card-tools">
                  <!--<a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>-->
                </div>
              </div>
              <div class="card-body table-responsive p-0">
                <table class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <% seguimiento.forEach ((user) =>{ %>  
                  <tr>
                    
                    <td><%= user.miembro_nombres %>  <%= user.miembro_apellidos %></td>
                    <td><%= user.miembro_telefono %></td>
                    
                  </tr>
                  <% }) %>
                  
                  
                  
                  </tbody>
                </table>
              </div>
            </div>
           
          </section>

         
          
        </div>

    </section>

    <%- include("template/footer") %>
  