<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/sidebar") %>
<%- include("template/content-header") %>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <% nuevos=0 %>
                  <% rows.forEach ((user) =>{ %>  
                    <% if(user.ca_primera_vez==1) { %>
                      <% nuevos++ %>
                    <% } %>    
                    <%  }) %>  
                <h3> <%= nuevos %> </h3>

                <p>Visitantes</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3><%= rows.length %></h3>

                <p>Personas Registradas</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="#" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
   
            <div class="small-box bg-danger">
              <div class="inner">
                <h3><%= cumpleanios.length %></h3>

                <p>Cumpleaños de hoy</p>
              </div>
              <div class="icon">
                <i class="ion ion-happy-outline"></i>
              </div>
              <a href="/cumpleanios" class="small-box-footer">Más Información <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
   
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Visitantes por primera vez</h3>
                <div class="card-tools">
                  <!--<a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>-->
                </div>
              </div>
              <div class="card-body table-responsive">
                <table id="tabla-visitantes" class="table table-striped table-valign-middle">
                  <thead>
                  <tr>
                    <th>Nº</th>
                    <th>Nombre y Apellido</th>
                    <th>Telefono</th>
                    <th>Sexo</th>
                    <th>-</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                    <% cont=1 %>
                  <% rows.forEach ((user) =>{ %>  
                    <% if(user.ca_primera_vez==1) { %>
                  <tr>
                    
                    <td>
                      <%= cont %>
                      <input type="hidden" id='nombre_html_<%= user.miembro_id %>' value='<%=user.miembro_nombres %>' >

                      <input type="hidden" id='apellido_html_<%= user.miembro_id %>' value='<%=user.miembro_apellidos %>' >

                      <input type="hidden" id='telefono_html_<%= user.miembro_id %>' value='<%=user.miembro_telefono %>' >

                      <input type="hidden" id='miembro_id_html_<%= user.miembro_id %>' value='<%=user.miembro_id %>' >


                    </td>
                    <td><%= user.miembro_nombres %> <%= user.miembro_apellidos %></td>
                    <td><%= user.miembro_telefono %></td>
                    <td><%= ((user.miembro_sexo==0)?'M':'F') %></td>
                    <td>
                      <% if(user.seguimiento_id>0) { %>
                        <span class="badge badge-info">Asignado</span>
                      <% } else{ %>
                        <button title="Asignar Seguimiento" onclick="modalAsignarSeguimiento(<%= user.miembro_id %>)" data-id='<%=user.miembro_id %>' type="button" class="btn btn-sm btn-outline-primary btn-block btnAsignarSeguimiento"><i class="fa fa-user-plus"></i></button>
                        <% } %>

                    </td>
                    
                  </tr>
                   <% } %>
                  <% cont++ }) %>
                  
                  
                  
                  </tbody>
                </table>
              </div>
            </div>
           
          </section>

          <section class="col-lg-6 connectedSortable">
            <div class="card">
              <div class="card-header border-0">
                <h3 class="card-title">Seguimiento</h3>
                <div class="card-tools">
                  <!--<a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-download"></i>
                  </a>
                  <a href="#" class="btn btn-tool btn-sm">
                    <i class="fas fa-bars"></i>
                  </a>-->
                </div>
              </div>
              <div class="card-body table-responsive">
                <table id="tabla-seguimiento" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    
                  </tr>
                  </thead>
                  <tbody>
                  <% seguimiento.forEach ((user) =>{ %>  
                  <tr>
                    
                    <td>
                      <%= user.miembro_nombres %>  <%= user.miembro_apellidos %>
                      <% if(user.seguimiento_id>0) { %>
                        <br><span class="badge badge-warning"><%= user.ministro_nombre %> <%= user.ministro_apellido %></span>
                        <% } %>

                    </td>
                    <td><%= user.miembro_telefono %></td>
                    
                  </tr>
                  <% }) %>
                  
                  
                  
                  </tbody>
                </table>
              </div>
            </div>
           
          </section>

         
          
        </div>

    </section>

    <%- include("template/footer") %>
  