<%- include("template/header") %>
<%- include("template/navbar") %>
<%- include("template/sidebar") %>
<%- include("template/content-header") %>




    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Usuarios</h3>
                  <button  id="btnUsuario" style="float:right" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal-default">
                    Nuevo
                    <i class="fa fa-user-plus"></i></button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                      <th>Nombre y Apellido</th>
                      <th>Rol</th>
                      <th>-</th>
                    
                    </tr>
                    </thead>
                    <tbody>
                    <% rows.forEach ((item) =>{ %>      
                    <tr>
                      <td><%= item.user_name %> <%= item.user_lastname %></td>
                      <td><%= item.tipo_nombre %></td>
                      <td>
                        <button type="button" class="btn btn-outline-primary btn-block"><i class="fa fa-edit"></i></button>

                        <button onclick="deleteUser(<%= item.user_id %>)" type="button" class="btn btn-outline-danger btn-block"><i class="fa fa-trash"></i></button>
                      </td>
                    </tr>
                    <% }) %>
                   
                    </tbody>
                    
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
 
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>

    <!-- /.content -->
   
      

    <%- include("template/footer") %>
  
