<% if(menuactivo=="usuario") { %>
<div class="modal fade" id="modal-default">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form_usuarios" id="form_usuarios" action="/saveusuario" method="post">
      <div class="modal-header">
        <h4 class="modal-title">Gestión de Usuarios</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="card card-danger">
          
          <div class="card-body">
            
            <!-- Nombre -->
            <div class="form-group">
              <label>Nombre:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="user_name" id="user_name" value=<%= mostrarDatos==true ? username:'' %> >
              </div>
            </div>


             <!-- Apellido -->
             <div class="form-group">
              <label>Apellido:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="user_lastname" id="user_lastname" value=<%= mostrarDatos==true ? user_lastname:'' %>>
              </div>

            </div>

             <!-- Email -->
             <div class="form-group">
              <label>Email:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-envelope"></i></span>
                </div>
                <input type="text" class="form-control" name="user_email" id="user_email" value=<%= mostrarDatos==true ? user_email:'' %>>
              </div>

            </div>

            <!-- Email -->
            <div id="contenedorPass" class="form-group">
              <label>Password:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-key"></i></span>
                </div>
                <input type="password" class="form-control" name="user_pwd" id="user_pwd" value=<%= mostrarDatos==true ? user_pwd:'' %> >
              </div>

            </div>
           

            <div class="form-group">
              <label>Rol:</label>
              <select class="form-control" style="width: 100%;" name="user_type" id="user_type">
                <option value="">Seleccione</option>
                <option value="1">Administrador</option>
                <option value="2">Gerente</option>
                <option value="3">Ministro</option>
                <option value="4">Registro</option>
                <option value="5">Eventos</option>
                
              </select>
            </div>

            <div class="form-group">
             
              <div class="input-group">
                
                <input type="hidden" class="form-control" id="user_id" name="user_id">
              </div>

            </div>

            
            
          </div>
          <!-- /.card-body -->
        </div>


      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<% } %>

<% if(menuactivo=="miembros") { %>
<div class="modal fade" id="modal-miembros">
  <div class="modal-dialog">
    <div class="modal-content">
      <form name="form_miembros" id="form_miembros" action="/savemiembro" method="post">
      <div class="modal-header">
        <h4 class="modal-title">Gestión de Miembros
          <input type="hidden" class="form-control" name="user_id_actual" id="user_id_actual">

        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <div class="card card-danger">
          
          <div class="card-body">
            
            <!-- Nombre -->
            <div class="form-group">
              <label>Nombre:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="miembro_nombres" id="miembro_nombres" value=<%= mostrarDatos==true ? nombre:'' %> >
              </div>
            </div>


             <!-- Apellido -->
             <div class="form-group">
              <label>Apellido:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="far fa-user"></i></span>
                </div>
                <input type="text" class="form-control" name="miembro_apellidos" id="miembro_apellidos" value=<%= mostrarDatos==true ? apellido:'' %>>
              </div>

            </div>

            <div class="form-group">
              <label>Sexo:</label>
              
              <select class="form-control" style="width: 100%;" name="miembro_sexo" id="miembro_sexo">
                <option value="0">Masculino</option>
                <option value="1">Femenino</option>
               
              </select>
            </div>

             <!-- Cédula -->
             <div class="form-group">
              <label>Cédula:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                </div>
                <input type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" class="form-control is_number" name="miembro_cedula" id="miembro_cedula" value=<%= mostrarDatos==true ? cedula:'' %>>
              </div>

            </div>

            <div class="form-group">
              <div class="form-check">
                <input class="form-check-input" id="sin_cedula" name="sin_cedula" type="checkbox" value="0">
                <label class="form-check-label">Sin Cédula</label>
              </div>
              
            </div>

            <!-- Telefono -->
            <div id="" class="form-group">
              <label>Teléfono:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-phone"></i></span>
                </div>
                <input type="text" class="form-control" data-inputmask='"mask": "(9999)999-99-99"' data-mask name="miembro_telefono" id="miembro_telefono" value=<%= mostrarDatos==true ? telefono:'' %> >
              </div>

            </div>

            <div id="" class="form-group">
              <label>Fecha Nacimiento:</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                </div>
                <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask name="miembro_nacimiento" id="miembro_nacimiento" value=<%= mostrarDatos==true ? nacimiento:'' %> >
              </div>

            </div>
           


            <div class="form-group">
             
              <div class="input-group">
                
                <input type="hidden" class="form-control" id="miembro_id" name="miembro_id">
              </div>

            </div>

            
            
          </div>
          <!-- /.card-body -->
        </div>


      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </form>  
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<% } %>


<% if(menuactivo=="registroasistencia") { %>
  <div class="modal fade" id="modal-miembros">
    <div class="modal-dialog">
      <div class="modal-content">
        <form name="form_miembros" id="form_miembros" action="/saveregistroasistencia" method="post">
        <div class="modal-header">
          <h4 class="modal-title">Registrar Asistencia <%= mostrarDatos %>
            <input type="hidden" class="form-control" name="user_id_actual" id="user_id_actual">
          </h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          <div class="card card-danger">
            
            <div class="card-body">
              
              <!-- Nombre -->
              <div class="form-group">
                <label>Nombre:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="miembro_nombres" id="miembro_nombres" value=<%= mostrarDatos==true ? nombre:'' %> >
                </div>
              </div>
  
  
               <!-- Apellido -->
               <div class="form-group">
                <label>Apellido:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="far fa-user"></i></span>
                  </div>
                  <input type="text" class="form-control" name="miembro_apellidos" id="miembro_apellidos" value=<%= mostrarDatos==true ? apellido:'' %>>
                </div>
  
              </div>
  
              <div class="form-group">
                <label>Sexo:</label>
                
                <select class="form-control" style="width: 100%;" name="miembro_sexo" id="miembro_sexo">
                  <option value="0">Masculino</option>
                  <option value="1">Femenino</option>
                 
                </select>
              </div>
  
               <!-- Cédula -->
               <div class="form-group">
                <label>Cédula:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-address-card"></i></span>
                  </div>
                  <input type="number" onkeypress="return event.charCode>=48 && event.charCode<=57" class="form-control is_number" name="miembro_cedula" id="miembro_cedula" value=<%= mostrarDatos==true ? cedula:'' %>>
                </div>
  
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" id="sin_cedula" name="sin_cedula" type="checkbox" value="0">
                  <label class="form-check-label">Sin Cédula</label>
                </div>
                
              </div>

  
              <!-- Telefono -->
              <div id="" class="form-group">
                <label>Teléfono:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-phone"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask='"mask": "(9999)999-99-99"' data-mask name="miembro_telefono" id="miembro_telefono" value=<%= mostrarDatos==true ? telefono:'' %> >
                </div>
  
              </div>
  
              <div id="" class="form-group">
                <label>Fecha Nacimiento:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                  </div>
                  <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask name="miembro_nacimiento" id="miembro_nacimiento" value=<%= mostrarDatos==true ? nacimiento:'' %> >
                </div>
  
              </div>
             
  
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input" id="miembro_primera_vez" name="miembro_primera_vez" type="checkbox" value="0">
                  <label class="form-check-label">Primera Vez</label>
                </div>
                
              </div>

              

              <div class="form-group">
                <label>Cómo nos conoció:</label>
                <select class="form-control" style="width: 100%;" name="miembro_nos_conocio" id="miembro_nos_conocio">
                  <option value="-1">Seleccione</option>
                  <option value="0">Redes Sociales</option>
                  <option value="1">Invitación</option>
                  <option value="2">Otros</option>
                 
                  
                </select>
              </div>

              <!-- Observaciones -->
              <div class="form-group">
                <label>Observaciones:</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fa fa-file-text"></i></span>
                  </div>
                  <input type="text" class="form-control" name="miembro_observaciones" id="miembro_observaciones" value=<%= mostrarDatos==true ? observaciones:'' %>>
                </div>
  
              </div>

              <div class="form-group">
                <label>Hora Culto:</label>
                
                <select class="form-control" style="width: 100%;" name="miembro_horario" id="miembro_horario">
                  <option value="09:00 am">09:00 am</option>
                  <option value="12:00 pm">12:00 pm</option>
                  <option value="Servidor(a)">Servidor(a)</option>
                  <option value="09:00 am / 12:00 pm">Ambos</option>
                  <option value="06:00 pm">06:00 pm</option>
                 
                </select>
              </div>
  
              
  
              <div class="form-group">
               
                <div class="input-group">
                  
                  <input type="hidden" class="form-control" id="miembro_id" name="miembro_id">
                </div>
  
              </div>

              <div class="form-group">
               
                <div class="input-group">
                  
                  <input type="hidden" class="form-control" id="add_by" name="add_by">
                </div>
  
              </div>
  
              
              
            </div>
            <!-- /.card-body -->
          </div>
  
  
        </div>
        <div class="modal-footer justify-content-between">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Registrar</button>
        </div>
      </form>  
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <% } %>

  <% if(menuactivo=="home") { %>
    <div class="modal fade" id="modal-asignarseguimiento">
      <div class="modal-dialog">
        <div class="modal-content">
          <form name="form_asignarseguimiento" id="form_asignarseguimiento" action="/asignarseguimiento" method="post">
          <div class="modal-header">
            <h4 class="modal-title">Asignar Seguimiento</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            
            <div class="card card-danger">
              
              <div class="card-body">
                
                <!-- Nombre -->
                <div class="form-group">
                  <label>Nombre:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input readonly type="text" class="form-control" name="miembro_nombres" id="miembro_nombres" value=<%= mostrarDatos==true ? nombre:'' %> >
                  </div>
                </div>
    
    
                 <!-- Apellido -->
                 <div class="form-group">
                  <label>Apellido:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="far fa-user"></i></span>
                    </div>
                    <input readonly type="text" class="form-control" name="miembro_apellidos" id="miembro_apellidos" value=<%= mostrarDatos==true ? apellido:'' %>>
                  </div>
    
                </div>

                <!-- Telefono -->
                <div id="" class="form-group">
                  <label>Teléfono:</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="fas fa-phone"></i></span>
                    </div>
                    <input readonly type="text" class="form-control" data-inputmask='"mask": "(9999)999-99-99"' data-mask name="miembro_telefono" id="miembro_telefono" value=<%= mostrarDatos==true ? telefono:'' %> >
                  </div>
    
                </div>
    
                
  
                <div class="form-group">
                  <label>Asignado a:</label>
                  <select class="form-control" style="width: 100%;" name="seguimiento_assigned_to" id="seguimiento_assigned_to">
                    <option value="">Seleccione</option>
                    <option value="1">Karen Meza</option>
                    <option value="2">Mildray Velázquez</option>
                    <option value="3">Anider Munairdjy</option>
                    <option value="4">Adriana Lugo</option>
                    <option value="5">Neidys Camargo</option>
                    <option value="6">Daniel Iturriago</option>
                    <option value="7">Richard Cordido</option>
                    <option value="8">Oscar Gómez</option>
                    <option value="9">Darío Fargas</option>
                    <option value="10">Edwin Rojas</option>
                   
                    
                  </select>
                </div>
    
                <div class="form-group">
                 
                  <div class="input-group">
                    
                    <input type="hidden" class="form-control" id="miembro_id" name="miembro_id">
                  </div>
    
                </div>
  
                
                
                
              </div>
              <!-- /.card-body -->
            </div>
    
    
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Asignar</button>
          </div>
        </form>  
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <% } %>


    <% if(menuactivo=="aperturaservicio") { %>
      <div class="modal fade" id="modal-servicio">
        <div class="modal-dialog">
          <div class="modal-content">
            <form name="form_servicio" id="form_servicio" action="/saveservicio" method="post">
            <div class="modal-header">
              <h4 class="modal-title">Apertura de Registro de Asistencia</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              
              <div class="card card-danger">
                
                <div class="card-body">
                  
                
                  <div id="" class="form-group">
                    <label>Fecha Servicio:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                      <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask name="fecha_culto" id="fecha_culto" value=<%= mostrarDatos==true ? fecha_culto:'' %> >
                    </div>
      
                  </div>

                  <div id="" class="form-group">
                    <label>Abierto Hasta:</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-calendar"></i></span>
                      </div>
                      <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="dd/mm/yyyy" data-mask name="abierto_hasta" id="abierto_hasta" value=<%= mostrarDatos==true ? abierto_hasta:'' %> >
                    </div>
      
                  </div>
      
            
                  
                </div>
                <!-- /.card-body -->
              </div>
      
      
            </div>
            <div class="modal-footer justify-content-between">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
          </form>  
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
      <% } %>







</div>
<!-- /.content-wrapper -->
<footer class="main-footer">
  <strong>Copyright &copy; 2022 <a href="#">Centro Cristiano Levántate & Resplandece</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block">
    <b>Version</b> 1.0.0
  </div>
</footer>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
$.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->
<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jquery-validation -->
<script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/plugins/jquery-validation/additional-methods.min.js"></script>

<!-- ChartJS -->
<script src="/plugins/chart.js/Chart.min.js"></script>
<!-- Sparkline -->
<script src="/plugins/sparklines/sparkline.js"></script>
<!-- JQVMap -->
<script src="/plugins/jqvmap/jquery.vmap.min.js"></script>
<script src="/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
<!-- jQuery Knob Chart -->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/plugins/summernote/summernote-bs4.min.js"></script>
<!-- overlayScrollbars -->
<script src="/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<!-- AdminLTE App -->
<script src="/dist/js/adminlte.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/dist/js/demo.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/dist/js/pages/dashboard.js"></script>

<!-- SweetAlert2 -->
<script src="/plugins/sweetalert2/sweetalert2.min.js"></script>
<!-- Toastr -->
<script src="/plugins/toastr/toastr.min.js"></script>

<!-- DataTables  & Plugins -->
<script src="/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/plugins/jszip/jszip.min.js"></script>
<script src="/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

<!-- InputMask -->
<script src="/plugins/moment/moment.min.js"></script>
<script src="/plugins/inputmask/jquery.inputmask.min.js"></script>
<!-- date-range-picker -->
<script src="/plugins/daterangepicker/daterangepicker.js"></script>

<!-- Select2 -->
<script src="/plugins/select2/js/select2.full.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"></script>

<script>
  $(function () {
    
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    
    
    $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": false,
      language: {
        "decimal": "",
        "emptyTable": "Sin Resultados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
    });

    $('#tablamiembros').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": false,
      "buttons": ["excel"],
      language: {
        "decimal": "",
        "emptyTable": "Sin Resultados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
    }).buttons().container().appendTo('#tablamiembros_wrapper .col-md-6:eq(0)');

    $('#tablaeventompj').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
      "buttons": ["excel"],
      language: {
        "decimal": "",
        "emptyTable": "Sin Resultados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
    }).buttons().container().appendTo('#tablaeventompj_wrapper .col-md-6:eq(0)');

    $('#tabla-visitantes').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": false,
      "buttons": ["excel"],
      language: {
        "decimal": "",
        "emptyTable": "Sin Resultados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }
    }).buttons().container().appendTo('#tabla-visitantes_wrapper .col-md-6:eq(0)');

    $('#tabla-seguimiento').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": false,
      "buttons": ["excel"],
      language: {
        "decimal": "",
        "emptyTable": "Sin Resultados",
        "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
        "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
        "infoFiltered": "(Filtrado de _MAX_ total entradas)",
        "infoPostFix": "",
        "thousands": ",",
        "lengthMenu": "Mostrar _MENU_ Entradas",
        "loadingRecords": "Cargando...",
        "processing": "Procesando...",
        "search": "Buscar:",
        "zeroRecords": "Sin resultados encontrados",
        "paginate": {
            "first": "Primero",
            "last": "Ultimo",
            "next": "Siguiente",
            "previous": "Anterior"
        }
    }

    }).buttons().container().appendTo('#tablamiembros_wrapper .col-md-6:eq(0)');


    //Datemask dd/mm/yyyy
    $('#datemask').inputmask('dd/mm/yyyy', { 'placeholder': 'dd/mm/yyyy' })
    //Datemask2 mm/dd/yyyy
    $('#datemask2').inputmask('mm/dd/yyyy', { 'placeholder': 'mm/dd/yyyy' })
    //Money Euro
    $('[data-mask]').inputmask()

    $('.select2').select2()




    $.validator.setDefaults({
    submitHandler: function () {
      document.getElementById("form_usuarios").submit();
    }
  });
  $('#form_usuarios').validate({
    rules: {
      user_name: {
        required: true,
        minlength: 2
      },
      user_email: {
        required: true,
        email: true
      },
      user_pwd: {
        required: true
      },
      user_type: {
        required: true
      },
    },
    messages: {
      user_email: {
        required: "Ingrese un email",
        email: "Ingrese un email válido"
      },
     user_name: {
        required: "Ingrese un Nombre",
        minlength: "Ingrese al menos 2 carácteres"
      },
      user_pwd:{
        required: "Ingrese un password",
      } ,
      user_type:{
        required: "Seleccione un Rol",
      } 
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });


  $.validator.setDefaults({
    submitHandler: function () {
      document.getElementById("form_miembros").submit();
    }
  });
  $('#form_miembros').validate({
    rules: {
      miembro_nombres: {
        required: true,
        minlength: 2
      },
      miembro_apellidos: {
        required: true,
        minlength: 2
      },
     miembro_telefono: {
        required: true
      },
      /*miembro_nacimiento: {
        required: true
      },*/

      miembro_cedula: {
        required: true
      },
    },
    messages: {
      miembro_nombres: {
        required: "Ingrese un Nombre",
        minlength: "Ingrese al menos 2 carácteres"
      },
     miembro_apellidos: {
        required: "Ingrese un Apellido",
        minlength: "Ingrese al menos 2 carácteres"
      },
      miembro_telefono:{
        required: "Ingrese un Teléfono",
      } ,
      miembro_cedula:{
        required: "Ingrese una cedula",
      }, 

      /*miembro_nacimiento:{
        required: "Ingrese una fecha de nacimiento",
      } */
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });


  //VALIDAR ASIGNAR SEGUIMIENTO_ASSIGNED_TO
  $.validator.setDefaults({
    submitHandler: function () {
      document.getElementById("form_asignarseguimiento").submit();
    }
  });
  $('#form_asignarseguimiento').validate({
    rules: {
      seguimiento_assigned_to: {
        required: true
      },
      
    },
    messages: {
      seguimiento_assigned_to: {
        required: "Debe asignarlo a un Ministro"
      
      },
    
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });


  //VALIDAR APERTURA SERVICIO
  $.validator.setDefaults({
    submitHandler: function () {
      document.getElementById("form_servicio").submit();
    }
  });
  $('#form_servicio').validate({
    rules: {
      fecha_culto: {
        required: true
      },
      abierto_hasta: {
        required: true
      },
      
    },
    messages: {
      fecha_culto: {
        required: "Debe ingresr una fecha del Servicio"
      
      },
      abierto_hasta: {
        required: "Debe ingresr una fecha límite del registro"
      
      },
    
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid');
    }
  });




  
  

  });//FIN FUNCION

  /*const modalAlumno = new bootstrap.Modal(document.getElementById('modal-default'))
const on = (element, event, selector, handler) => {
    element.addEventListener(event, e => {
        if(e.target.closest(selector)){
            handler(e)
        }
    })
}*/


</script>

<% if(alert) { %>
  <script>

$('#btnUsuario').trigger('click');
var Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000
});



setTimeout(function(){
  /*Toast.fire({
    icon: 'error',
    title: '<%= alertMessage %>'
  })*/
  toastr.error('<%= alertMessage %>') 
}, 1000);

  </script>
<% } %>  


<% if(alert_miembro) { %>
  <script>
//alert('modal');
$('#btnMiembro').trigger('click');
var Toast = Swal.mixin({
  toast: true,
  position: 'top-end',
  showConfirmButton: false,
  timer: 4000
});



setTimeout(function(){
  /*Toast.fire({
    icon: 'error',
    title: '<%= alertMessage %>'
  })*/
  toastr.error('<%= alertMessage %>') 
}, 1000);

  </script>
<% } %>  


<script>
  function deleteUser(user_id){
   

    Swal.fire({
    title: '¿Realmente desea eliminar este usuario?',
    text: "Se perderán todos los datos!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonColor: '#3085d6',
    cancelButtonColor: '#d33',
    confirmButtonText: 'Eliminar',
    cancelButtonText: 'Cancelar'
  }).then((result) => {
    if (result.isConfirmed) {
      window.location="/deleteuser/"+user_id;

      setTimeout(function(){
        toastr.success('Usuario eliminado!') 
      }, 3000);

    }
  })


  }

  function deleteMiembro(miembro_id){
   

   Swal.fire({
   title: '¿Realmente desea eliminar este miembro?',
   text: "Se perderán todos los datos!",
   icon: 'warning',
   showCancelButton: true,
   confirmButtonColor: '#3085d6',
   cancelButtonColor: '#d33',
   confirmButtonText: 'Eliminar',
   cancelButtonText: 'Cancelar'
 }).then((result) => {
   if (result.isConfirmed) {
     window.location="/deletemiembro/"+miembro_id;

     setTimeout(function(){
       toastr.success('Miembro eliminado!') 
     }, 3000);

   }
 })


 }

  function limpiarModalUser(){
      document.getElementById("form_usuarios").reset();
  }

  //LLAMADA A MODALES PARA EDITAR USUARIO
  function modalUsuario(user_id){

//alert(user_id);
$('#user_name').val($('#name_html_'+user_id).val())
$('#user_lastname').val($('#apellido_html_'+user_id).val())
$('#user_id').val($('#id_html_'+user_id).val())
$('#user_email').val($('#email_html_'+user_id).val())
$('#user_pwd').val('')
$('select option[value="'+$('#rol_html_'+user_id).val()+'"]').attr("selected", true);

$("#form_usuarios").attr("action", '/editarusuario')
$("#contenedorPass").hide();

$('#modal-default').modal('show')
  }

//MODAL EDITAR MIEMBRO
  function modalMiembro(miembro_id){


$('#miembro_nombres').val($('#name_html_'+miembro_id).val())
$('#miembro_apellidos').val($('#apellido_html_'+miembro_id).val())
$('#miembro_id').val($('#id_html_'+miembro_id).val())
$('#miembro_sexo').val($('#sexo_html_'+miembro_id).val())
$('#miembro_telefono').val($('#telefono_html_'+miembro_id).val())
$('#miembro_cedula').val($('#cedula_html_'+miembro_id).val())

//var fechaformat=moment($('#nacimiento_html_'+miembro_id).val(),"YYYY-MM-DD").format('DD-MM-YYYY')

$('#miembro_nacimiento').val($('#nacimiento_html_'+miembro_id).val())
$('select option[value="'+$('#nos_conocio_html_'+miembro_id).val()+'"]').attr("selected", true);

$("#form_miembros").attr("action", '/editarmiembro')



$('#modal-miembros').modal('show')

  }


  //MODAL EDITAR MIEMBRO REGISTRO
  function modalMiembroRegistro(miembro_id){

//alert(miembro_id);
$('#user_id_actual').val($('#user_id_logueado').val())
$('#miembro_nombres').val($('#name_html_'+miembro_id).val())
$('#miembro_apellidos').val($('#apellido_html_'+miembro_id).val())
$('#miembro_id').val($('#id_html_'+miembro_id).val())
$('#miembro_sexo').val($('#sexo_html_'+miembro_id).val())
$('#miembro_telefono').val($('#telefono_html_'+miembro_id).val())
$('#miembro_cedula').val($('#cedula_html_'+miembro_id).val())
$('#add_by').val($('#user_id_html_'+miembro_id).val())

//var fechaformat=moment($('#nacimiento_html_'+miembro_id).val(),"YYYY-MM-DD").format('DD-MM-YYYY')
if($('#nacimiento_html_'+miembro_id).val()=="01-01-1900"){

$('#miembro_nacimiento').val('')
}else{
$('#miembro_nacimiento').val($('#nacimiento_html_'+miembro_id).val())
}

$('select option[value="'+$('#nos_conocio_html_'+miembro_id).val()+'"]').attr("selected", true);

$("#form_miembros").attr("action", '/saveregistroasistencia')
//$("#sin_cedula").attr("checked", false)
document.getElementById("sin_cedula").checked= false;


$('#modal-miembros').modal('show')

  }//FIN MODAL REGISTRO


  //MODAL ASIGNAR SEGUIMIENTO
  function modalAsignarSeguimiento(miembro_id){

//alert(miembro_id);
$('#miembro_nombres').val($('#nombre_html_'+miembro_id).val())
$('#miembro_apellidos').val($('#apellido_html_'+miembro_id).val())
$('#miembro_telefono').val($('#telefono_html_'+miembro_id).val())
$('#miembro_id').val($('#miembro_id_html_'+miembro_id).val())

//$("#form_miembros").attr("action", '/saveregistroasistencia')


$('#modal-asignarseguimiento').modal('show')

  }//FIN MODALASIGNAR SEGUIMIENTO


  //LIMPIAR MODALES
  $('.btnNewUser').on('click', function (e) {

	  document.getElementById("form_usuarios").reset(); 
	  $('#modal-default').modal('show')
	})


  $('.btnNewMiembro').on('click', function (e) {

	  document.getElementById("form_miembros").reset(); 
    
  $('#user_id_actual').val($('#user_id_logueado').val())
	  $('#modal-miembros').modal('show')
	})

  $('.btnNewServicio').on('click', function (e) {

document.getElementById("form_servicio").reset(); 
$('#modal-servicio').modal('show')
})

$('#miembro_primera_vez').on('click', function (e) {

  if($(this).is(':checked'))
  $(this).val(1)
  else
  $(this).val(0)

})


$('#sin_cedula').on('click', function (e) {
  var hoy = new Date();
  var fecha = hoy.getDate() +  ( hoy.getMonth() + 1 ) +  hoy.getFullYear();
  var hora = hoy.getHours() + ':' + hoy.getMinutes() + ':' + hoy.getSeconds();
  let result = hora.replace(":", "")
  let result2 = result.replace(":", "")

if($(this).is(':checked'))
$('#miembro_cedula').val(hoy.getFullYear()+'-'+result2)
else
$('#miembro_cedula').val('')

})


$('body').on('keyup','.is_number',function(){
 				if($(this).val().indexOf('.')!=-1)
				{
						$(this).val($(this).val().replace(".",""));
				}

        if($(this).val().indexOf('-')!=-1)
				{
						$(this).val($(this).val().replace("-",""));
				}
		});

 
</script>

</body>
</html>